In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np

# Gathering the Data

In [2]:
df = pd.read_csv('Telco-Customer-Churn.csv')
df.sample(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
6819,3005-NFMTA,Male,1,No,No,55,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.80,5617.75,Yes
1193,5232-NXPAY,Female,0,No,No,47,Yes,No,DSL,No,...,Yes,Yes,Yes,Yes,Two year,No,Mailed check,74.45,3510.3,No
5909,5343-SGUBI,Female,0,No,No,52,Yes,Yes,Fiber optic,No,...,No,No,No,No,One year,Yes,Mailed check,80.20,4297.6,No

# Checking for null values

In [3]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

Here we have multiple object types

In [5]:
df.sample(4)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
6733,4011-ARPHK,Male,0,No,No,27,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,50.35,1411.35,No
4227,5457-COLHT,Male,0,Yes,Yes,69,Yes,No,DSL,Yes,...,No,Yes,Yes,Yes,Two year,No,Bank transfer (automatic),80.65,5542.55,No
87,1862-QRWPE,Female,0,Yes,Yes,48,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.65,1057,No
4432,3891-NLXJB,Male,0,No,No,37,No,No phone service,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Mailed check,40.55,1390.85,No

## Data Preprocessing

In [30]:
df.drop('customerID', axis=1, inplace=True)

In [31]:
for column in df:
    print(column, df[column].unique())

gender [1 0]
SeniorCitizen [0 1]
Partner [1 0]
Dependents [0 1]
tenure [0.         0.46478873 0.01408451 0.61971831 0.09859155 0.29577465
 0.12676056 0.38028169 0.85915493 0.16901408 0.21126761 0.8028169
 0.67605634 0.33802817 0.95774648 0.71830986 0.98591549 0.28169014
 0.15492958 0.4084507  0.64788732 1.         0.22535211 0.36619718
 0.05633803 0.63380282 0.14084507 0.97183099 0.87323944 0.5915493
 0.1971831  0.83098592 0.23943662 0.91549296 0.11267606 0.02816901
 0.42253521 0.69014085 0.88732394 0.77464789 0.08450704 0.57746479
 0.47887324 0.66197183 0.3943662  0.90140845 0.52112676 0.94366197
 0.43661972 0.76056338 0.50704225 0.49295775 0.56338028 0.07042254
 0.04225352 0.45070423 0.92957746 0.30985915 0.78873239 0.84507042
 0.18309859 0.26760563 0.73239437 0.54929577 0.81690141 0.32394366
 0.6056338  0.25352113 0.74647887 0.70422535 0.35211268 0.53521127]
PhoneService [0 1]
MultipleLines [0 1]
OnlineSecurity [0 1]
OnlineBackup [1 0]
DeviceProtection [0 1]
TechSupport [0 1]
StreamingTV [0 1]
StreamingMovies [0 1]
PaperlessBilling [1 0]
MonthlyCharges [0.11542289 0.38507463 0.35422886 ... 0.44626866 0.25820896 0.60149254]
TotalCharges [0.0012751  0.21586661 0.01031041 ... 0.03780868 0.03321025 0.78764136]
Churn [0 1]
Contract_Month-to-month [1 0]
Contract_One year [0 1]
Contract_Two year [0 1]
InternetService_DSL [1 0]
InternetService_Fiber optic [0 1]
InternetService_No [0 1]
PaymentMethod_Bank transfer (automatic) [0 1]
PaymentMethod_Credit card (automatic) [0 1]
PaymentMethod_Electronic check [1 0]
PaymentMethod_Mailed check [0 1]

In [57]:
# Replacing 'No Internet Service' to 'No'

df.replace('No internet service', 'No', inplace=True)
df.replace('No phone service', 'No', inplace=True)

replace_column_values = ['PhoneService', 'Partner', 'Dependents', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
                      'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'Churn']

df.replace({'Male': 0, 'Female': 1}, inplace=True)
df.replace({'No': 0, 'Yes': 1}, inplace=True)

In [29]:
for column in df:
    print(column, df[column].unique())

customerID ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
gender [1 0]
SeniorCitizen [0 1]
Partner [1 0]
Dependents [0 1]
tenure [0.         0.46478873 0.01408451 0.61971831 0.09859155 0.29577465
 0.12676056 0.38028169 0.85915493 0.16901408 0.21126761 0.8028169
 0.67605634 0.33802817 0.95774648 0.71830986 0.98591549 0.28169014
 0.15492958 0.4084507  0.64788732 1.         0.22535211 0.36619718
 0.05633803 0.63380282 0.14084507 0.97183099 0.87323944 0.5915493
 0.1971831  0.83098592 0.23943662 0.91549296 0.11267606 0.02816901
 0.42253521 0.69014085 0.88732394 0.77464789 0.08450704 0.57746479
 0.47887324 0.66197183 0.3943662  0.90140845 0.52112676 0.94366197
 0.43661972 0.76056338 0.50704225 0.49295775 0.56338028 0.07042254
 0.04225352 0.45070423 0.92957746 0.30985915 0.78873239 0.84507042
 0.18309859 0.26760563 0.73239437 0.54929577 0.81690141 0.32394366
 0.6056338  0.25352113 0.74647887 0.70422535 0.35211268 0.53521127]
PhoneService [0 1]
MultipleLines [0 1]
OnlineSecurity [0 1]
OnlineBackup [1 0]
DeviceProtection [0 1]
TechSupport [0 1]
StreamingTV [0 1]
StreamingMovies [0 1]
PaperlessBilling [1 0]
MonthlyCharges [0.11542289 0.38507463 0.35422886 ... 0.44626866 0.25820896 0.60149254]
TotalCharges [0.0012751  0.21586661 0.01031041 ... 0.03780868 0.03321025 0.78764136]
Churn [0 1]
Contract_Month-to-month [1 0]
Contract_One year [0 1]
Contract_Two year [0 1]
InternetService_DSL [1 0]
InternetService_Fiber optic [0 1]
InternetService_No [0 1]
PaymentMethod_Bank transfer (automatic) [0 1]
PaymentMethod_Credit card (automatic) [0 1]
PaymentMethod_Electronic check [1 0]
PaymentMethod_Mailed check [0 1]

In [9]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,0,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,0,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,0,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,1,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
df.TotalCharges.info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: TotalCharges
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 55.1+ KB

In [11]:
# Converting into float

df['TotalCharges']  = pd.to_numeric(df.TotalCharges, errors = 'coerce')

In [12]:
df.TotalCharges.info

<bound method Series.info of 0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

# We have successfully cleaned the data

In [14]:
df.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [15]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [18]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

#  Using One Hot Encoding

In [ ]:
df = pd.get_dummies(data=df, columns = ['Contract', 'InternetService', 'PaymentMethod'])
df.head()

In [59]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,Contract_Month-to-month,Contract_One year,Contract_Two year,InternetService_DSL,InternetService_Fiber optic,InternetService_No,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,0.000000,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,0.464789,1,0,1,0,1,...,0,1,0,1,0,0,0,0,0,1
2,0,0,0,0,0.014085,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0.619718,0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,0
4,1,0,0,0,0.014085,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [21]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling', 'MonthlyCharges', 'TotalCharges',
       'Churn', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'InternetService_DSL',
       'InternetService_Fiber optic', 'InternetService_No',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7032 non-null   int64
 1   SeniorCitizen                            7032 non-null   int64
 2   Partner                                  7032 non-null   int64
 3   Dependents                               7032 non-null   int64
 4   tenure                                   7032 non-null   float64
 5   PhoneService                             7032 non-null   int64
 6   MultipleLines                            7032 non-null   int64
 7   OnlineSecurity                           7032 non-null   int64
 8   OnlineBackup                             7032 non-null   int64
 9   DeviceProtection                         7032 non-null   int64
 10  TechSupport                              7032 non-null   int64
 11  StreamingTV                              7032 non-null   int64
 12  StreamingMovies                          7032 non-null   int64
 13  PaperlessBilling                         7032 non-null   int64
 14  MonthlyCharges                           7032 non-null   float64
 15  TotalCharges                             7032 non-null   float64
 16  Churn                                    7032 non-null   int64
 17  Contract_Month-to-month                  7032 non-null   uint8
 18  Contract_One year                        7032 non-null   uint8
 19  Contract_Two year                        7032 non-null   uint8
 20  InternetService_DSL                      7032 non-null   uint8
 21  InternetService_Fiber optic              7032 non-null   uint8
 22  InternetService_No                       7032 non-null   uint8
 23  PaymentMethod_Bank transfer (automatic)  7032 non-null   uint8
 24  PaymentMethod_Credit card (automatic)    7032 non-null   uint8
 25  PaymentMethod_Electronic check           7032 non-null   uint8
 26  PaymentMethod_Mailed check               7032 non-null   uint8
dtypes: float64(3), int64(14), uint8(10)
memory usage: 1.0 MB

## Using MinMaxScaler

In [23]:
scaler_columns = ['tenure', 'MonthlyCharges', 'TotalCharges']

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df[scaler_columns] = scaler.fit_transform(df[scaler_columns])

# Splitting Training & Test Dataset

In [68]:
x = df.drop('Churn', axis=1)
y = df.Churn

print(x.shape, y.shape)

(7032, 26) (7032,)

In [69]:
x.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges',
       'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [82]:
from sklearn.model_selection import train_test_split

(X_train, X_test, y_train, y_test) = train_test_split(x, y, test_size=0.2, random_state=10)

# Building The ANN

In [81]:
from tensorflow import keras


ann = tf.keras.Sequential()

# Adding the layers

ann.add(keras.layers.Dense(units=20, activation = 'relu'))
ann.add(keras.layers.Dense(units= 15, activation= 'relu'))

# Output Layer

ann.add(tf.keras.layers.Dense(units=1, activation= 'sigmoid'))

#Compiler

ann.compile(optimizer = 'adam',
           loss = 'binary_crossentropy',
           metrics=['acccuracy'])

In [76]:
df = df.astype(np.float64)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7032 non-null   float64
 1   SeniorCitizen                            7032 non-null   float64
 2   Partner                                  7032 non-null   float64
 3   Dependents                               7032 non-null   float64
 4   tenure                                   7032 non-null   float64
 5   PhoneService                             7032 non-null   float64
 6   MultipleLines                            7032 non-null   float64
 7   OnlineSecurity                           7032 non-null   float64
 8   OnlineBackup                             7032 non-null   float64
 9   DeviceProtection                         7032 non-null   float64
 10  TechSupport                              7032 non-null   float64
 11  StreamingTV                              7032 non-null   float64
 12  StreamingMovies                          7032 non-null   float64
 13  PaperlessBilling                         7032 non-null   float64
 14  MonthlyCharges                           7032 non-null   float64
 15  TotalCharges                             7032 non-null   float64
 16  Churn                                    7032 non-null   float64
 17  Contract_Month-to-month                  7032 non-null   float64
 18  Contract_One year                        7032 non-null   float64
 19  Contract_Two year                        7032 non-null   float64
 20  InternetService_DSL                      7032 non-null   float64
 21  InternetService_Fiber optic              7032 non-null   float64
 22  InternetService_No                       7032 non-null   float64
 23  PaymentMethod_Bank transfer (automatic)  7032 non-null   float64
 24  PaymentMethod_Credit card (automatic)    7032 non-null   float64
 25  PaymentMethod_Electronic check           7032 non-null   float64
 26  PaymentMethod_Mailed check               7032 non-null   float64
dtypes: float64(27)
memory usage: 1.5 MB

In [94]:
ann.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'] )

ann.fit(X_train, y_train, epochs=50)

Epoch 1/50
176/176 [==============================] - 1s 1ms/step - loss: 0.3932 - accuracy: 0.8190
Epoch 2/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3930 - accuracy: 0.8126
Epoch 3/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3917 - accuracy: 0.8151
Epoch 4/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3928 - accuracy: 0.8160
Epoch 5/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3917 - accuracy: 0.8165
Epoch 6/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3916 - accuracy: 0.8156
Epoch 7/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3908 - accuracy: 0.8169
Epoch 8/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3912 - accuracy: 0.8153
Epoch 9/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8196
Epoch 10/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8158
Epoch 11/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3903 - accuracy: 0.8178
Epoch 12/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3908 - accuracy: 0.8162
Epoch 13/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3897 - accuracy: 0.8151
Epoch 14/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3897 - accuracy: 0.8117
Epoch 15/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3894 - accuracy: 0.8144
Epoch 16/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3884 - accuracy: 0.8174
Epoch 17/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3884 - accuracy: 0.8140
Epoch 18/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3876 - accuracy: 0.8174
Epoch 19/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3871 - accuracy: 0.8183
Epoch 20/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3866 - accuracy: 0.8151
Epoch 21/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3859 - accuracy: 0.8158
Epoch 22/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3865 - accuracy: 0.8156
Epoch 23/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3868 - accuracy: 0.8156
Epoch 24/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3862 - accuracy: 0.8172
Epoch 25/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3852 - accuracy: 0.8203
Epoch 26/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3846 - accuracy: 0.8156
Epoch 27/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3857 - accuracy: 0.8153
Epoch 28/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3834 - accuracy: 0.8176
Epoch 29/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3834 - accuracy: 0.8181
Epoch 30/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3864 - accuracy: 0.8116
Epoch 31/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3837 - accuracy: 0.8172
Epoch 32/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3827 - accuracy: 0.8199
Epoch 33/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3830 - accuracy: 0.8203
Epoch 34/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3828 - accuracy: 0.8158
Epoch 35/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3833 - accuracy: 0.8192
Epoch 36/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3808 - accuracy: 0.8174
Epoch 37/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3827 - accuracy: 0.8164
Epoch 38/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3819 - accuracy: 0.8156
Epoch 39/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3804 - accuracy: 0.8192
Epoch 40/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8181
Epoch 41/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3805 - accuracy: 0.8222
Epoch 42/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3802 - accuracy: 0.8201
Epoch 43/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8201
Epoch 44/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8192
Epoch 45/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3793 - accuracy: 0.8204
Epoch 46/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8192
Epoch 47/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3781 - accuracy: 0.8208
Epoch 48/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3801 - accuracy: 0.8217
Epoch 49/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3790 - accuracy: 0.8197
Epoch 50/50
176/176 [==============================] - 0s 1ms/step - loss: 0.3788 - accuracy: 0.8190

In [97]:
ann.evaluate(X_test, y_test)

44/44 [==============================] - 0s 1ms/step - loss: 0.4152 - accuracy: 0.8081

[0.4152091145515442, 0.8081023693084717]